<div class="container d-flex justify-content-center align-items-center">

<div class="card mb-3 mx-auto text-center ">
<!-- <h2>Product</h2> -->

<h3 class="card-title">{{product.name}}</h3>

<div class="card-body">

<img class="mx-auto" [src]="product.image" height="250" width="250"> <br><br>

<b class="card-subtitle mb-5 text-muted">${{product.price}}</b>

<p  class="card-text">{{product.description}}</p>

<p>Seller Information: </p>

<p class="card-text">City: {{product.city}}</p>
<p class="card-text">Phone: {{product.phone}}</p>

<button class="btn btn-secondary" (click)="deleteProductHandler(product)">Purchase</button>
</div>
</div>
</div>